@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  min-height: 100vh;
}

.main-container {
  width: 70%;
  background-color: pink;
}

aside {
  width: 30%;
  background-color: lightseagreen;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
.main-weather,
.input-form {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 1rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
}

.weather {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.display-result {
  width: 50%;
}

.big-icon {
  background-color: #fff;
  width: 30%;
  margin: auto;
}

.input-form button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #ff0077;
  background-color: #ff0077;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

.input-form button:hover,
.input-form button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

.input-form input {
  font: inherit;
  padding: 0.15rem;
  width: 75%;
}
