<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Weather Project</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <main class="main-container">
        <form
          method="post"
          action="{{ url_for('submit_form') }}"
          class="input-form"
        >
          <input required type="text" name="city_name" />
          <button type="submit">Submit</button>
        </form>
        <section class="main-weather" id="displayDetails">
          <h1>There is no data</h1>
        </section>
      </main>
      <aside>{% include "weather_by_day.html" %}</aside>
    </div>
    <script>
      function displayCharacter(item) {
        console.log("Received item:", item);

        // Update the content of the 'displayDetails' element
        document.getElementById("displayDetails").textContent = item;
      }
    </script>
  </body>
</html>
