<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Weather Project</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <main class="main-container">
        <form
          method="post"
          action="{{ url_for('submit_form') }}"
          class="input-form"
        >
          <input
            required
            type="text"
            name="city_name"
            placeholder="City Name"
          />
          <button type="submit">Submit</button>
        </form>

        {% if data %}
        <section class="main-weather" id="displayDetails">
          <div>
            <h1>There is no selected data.</h1>
          </div>
        </section>
        {% else %}
        <section class="main-weather">
          <h1>Please input city name!</h1>
        </section>
        {% endif %}
      </main>
      <aside class="side-bar">{% include "weather_by_day.html" %}</aside>
    </div>

    <script>
      function displayWeather(item, data) {
        const detailsContainer = document.getElementById("displayDetails");

        detailsContainer.innerHTML = "";

        let smallWeatherDisplay = "";

        for (let i = item + 1; i < item + 8 && i <= data.cnt; i++) {
          smallWeatherDisplay += `
            <div>
              <p>${data.list[i].dt_txt
                .split(" ")[1]
                .split(":")
                .slice(0, 2)
                .join(":")}</p>
              <img src="/static/images/${
                data.list[i].weather[0].icon
              }.svg" alt="Weather Image" />
              <p>${data.list[i].main.temp}°C</p>
            </div>
          `;
        }

        // Display the content here
        const weatherContent = `
          <div class="weather-desc">
            <div>
              <h1>Weather in ${data.city.name}</h1>
              <h1>${data.list[item].main.temp}°C</h1>
              <p>Feeling Like: ${data.list[item].main.feels_like}°C</p>
            </div>
            <img src="/static/images/${data.list[item].weather[0].icon}.svg" alt="Weather Image" />
          </div>

          <hr/>

          <p>TODAY FORECAST</p>
          <div class="small-weather-dispaly">
            ${smallWeatherDisplay}
          </div>

          <hr/>
          
          <p>WEATHER CONDITION</p>
          <div class="small-weather-dispaly">
            <p>Feel Like: ${data.list[item].main.feels_like}°C</p>
            <p>Humidity: ${data.list[item].main.humidity}</p>
            <p>Descriptioin: ${data.list[item].weather[0].description}</p>
            <p>wind: ${data.list[item].wind.speed} km/h</p>
          </div>
        `;

        detailsContainer.innerHTML = weatherContent;
      }
    </script>
  </body>
</html>
